.container{
    width: 90%;
    height: 100%;
    align-items: center;
}
.header,.footer{
width: 90%;
height: 100px;
background-color: rgb(149, 42, 192);

}
.main-content{
        width: 90%;
        height: 1000px;
        background-color: rgba(146, 91, 247, 0.822);
}
.box1{
    width: 40%;
    height: 370px;
    background-color: black;
    margin: 10px;
    margin-left: 85px;
    padding: 10px;
    float: left;
    

}
.box2{
    width: 42%;
    height: 970px;
   background-color: black;
   margin: 10px;
   float: left;
}
.box3{
    width: 40%;
    height: 400px;
    background-color: black;
    margin: 10px;
    margin-left: 85px;
    padding: 10px;
    float: left;
    margin-top: -428px;
}