.mimenu{
    background-color: rgb(240, 173, 240);
    padding: 10px;
    margin: auto;
}

.mimenu li a{
    text-decoration: none; /*quita subrayado*/
    color: black;
    padding: 25px;
    margin: 20px;

}

.mimenu li a:hover{ /*cuando el curso pasa encima*/
color: azure;
background-color: black;
}

.mimenu li{
    list-style: none; /*quita viñetas*/
    display: inline-block; /*linea horizontal*/
}
